# Recsys

In [1]:
import pandas as pd
import numpy as np

Calgary

In [2]:
ttd_calg1 = pd.read_json('~/Documents/INFO/Capstone22/recsys/ttd_calgary_card_1.json', orient='table')

In [3]:
ttd_calgX = pd.read_json('~/Documents/INFO/Capstone22/recsys/ttd_calgary_card_X.json', orient='table')

In [4]:
fad_calg1 = pd.read_json('~/Documents/INFO/Capstone22/recsys/food_drinks_calgary_card_1.json', orient='table')

In [5]:
fad_calgX = pd.read_json('~/Documents/INFO/Capstone22/recsys/food_drinks_calgary_card_X.json', orient='table')

Edmonton

In [6]:
ttd_edm1 = pd.read_json('~/Documents/INFO/Capstone22/recsys/ttd_edmonton_card_1.json', orient='table')

In [7]:
ttd_edmX = pd.read_json('~/Documents/INFO/Capstone22/recsys/ttd_edmonton_card_X.json', orient='table')

In [8]:
fad_edm1 = pd.read_json('~/Documents/INFO/Capstone22/recsys/food_drinks_edmonton_card_1.json', orient='table')

In [9]:
fad_edmX = pd.read_json('~/Documents/INFO/Capstone22/recsys/food_drinks_edmonton_card_X.json', orient='table')

Vancouver

In [10]:
ttd_vanc1 = pd.read_json('~/Documents/INFO/Capstone22/recsys/ttd_vancouver_card_1.json', orient='table')

In [11]:
fad_vanc1 = pd.read_json('~/Documents/INFO/Capstone22/recsys/food_drinks_vancouver_card_1.json', orient='table')

In [12]:
fad_vancX = pd.read_json('~/Documents/INFO/Capstone22/recsys/food_drinks_vancouver_card_X.json', orient='table')

Toronto

In [13]:
ttd_tor1 = pd.read_json('~/Documents/INFO/Capstone22/recsys/ttd_toronto_card_1.json', orient='table')

In [14]:
ttd_torX = pd.read_json('~/Documents/INFO/Capstone22/recsys/ttd_toronto_card_X.json', orient='table')

In [15]:
fad_tor1 = pd.read_json('~/Documents/INFO/Capstone22/recsys/food_drinks_toronto_card_1.json', orient='table')

Seattle

In [16]:
fad_sea1 = pd.read_json('~/Documents/INFO/Capstone22/recsys/food_drinks_seattle_card_1.json', orient='table')

In [17]:
fad_seaX = pd.read_json('~/Documents/INFO/Capstone22/recsys/food_drinks_seattle_card_X.json', orient='table')

In [18]:
ttd_sea1 = pd.read_json('~/Documents/INFO/Capstone22/recsys/ttd_seattle_card_1.json', orient='table')

In [19]:
ttd_seaX = pd.read_json('~/Documents/INFO/Capstone22/recsys/ttd_seattle_card_X.json', orient='table')

# Data Cleaning

I will first concatanate all the seattle dataframes and then delete the ones that have links to websites; this are the ones that we are going to use for our cards

In [20]:
frames = [fad_sea1, fad_seaX, ttd_sea1, ttd_seaX]
sea_complete = pd.concat(frames)

In [21]:
sea_complete

,title,description,when,where,link,category,tags
0,Here's the tea: The first ever Seattle Boba Fe...,Bubble Tea is a drink that folks either love o...,: U District,April 30th,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,NaN
1,This Capitol Hill wine shop offers a monthly n...,"Picking the perfect bottle can be hard, really...",: Daily 3 pm-2 am,721 E Pike St,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,NaN
2,The chef behind Bainbridge Island's Hitchcock ...,Bainbridge Island is already worth the visit b...,: Opens May 26th,"133 Winslow Way East #100, Bainbridge Island, WA",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,NaN
3,Lucky Envelope Brewing is hosting a series of ...,"May is Asian American, Native Hawaiian, and Pa...",: 907 NW 50th Street,Throughout May,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,NaN
4,Money Frog is Capitol Hill's newest spot for p...,It looks like Seattle’s restaurant scene is on...,": Grand opening April 13th, Wednesday-Sunday 4...",903 19th Ave E,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,NaN
...,...,...,...,...,...,...,...
1732,Lime Kiln State Park,If you want to do some whale watching then yo...,nce: 112 miles from Seattle,Lime Kiln Point State Park,https://www.instagram.com/p/B89J8hZlcPC/embed/...,Things To Do,"Food & Drink, Outdoors, Support Local,"
1733,Bainbridge Island,Thanks to the ferry system this island is supe...,nce: 10.3 miles from Seattle,"Bainbridge Island, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1734,Hat & Boots Park,If you really can’t get out of Seattle but wa...,nce: 4.9 miles from Seattle,6427 Carleton Ave S,https://www.instagram.com/p/COb0wTSnDPQ/embed/...,Things To Do,"Food & Drink, Outdoors, Support Local,"
1735,USS Turner Joy,Have you ever been curious about what happens ...,nce: 65.3 miles from Seattle,"300 Washington Beach Ave, Bremerton, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1736,Lakewold Gardens,These stunning gardens will make you forget t...,nce: 42.1 miles from Seattle,"12317 Gravelly Lake Dr SW, Lakewood, Washington",https://www.instagram.com/p/CHOJSfAj2k7/embed/...,Things To Do,"Food & Drink, Outdoors, Support Local,"

In [22]:
sea_complete = sea_complete[sea_complete["link"] == ""]
sea_complete

,title,description,when,where,link,category,tags
77,A La Mode Pies,A La Mode is one of the city’s few solely pie ...,,Multiple locations,,Food & Drink,"Food & Drink, Holiday,"
78,Pie Bar,"Sweet, savory, whatever you’re looking for, Pi...",,Multiple locations,,Food & Drink,"Food & Drink, Holiday,"
79,Pagliacci Pizza,Want a pie and a sweet deal. If you purchase a...,,Multiple locations,,Food & Drink,"Food & Drink, Holiday,"
80,Macrina Bakery,"On Monday aka Pi(e) Day, you’ll be able to cho...",,Multiple locations,,Food & Drink,"Food & Drink, Holiday,"
81,Bakery Nouveau,If you want to choose from a selection of rota...,,Multiple locations,,Food & Drink,"Food & Drink, Holiday,"
...,...,...,...,...,...,...,...
1727,North Bend,"Cue the Julee Cruise and Angelo Badalamenti, i...",nce: 30 miles from Seattle,"North Bend, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1729,Bow-Edison,We can always find a reason to head out to Bow...,nce: 73.9 miles from Seattle,"Bow-Edison, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1731,Camlann Medieval Village,Want to really hop back in time? Make a day tr...,nce: 35.9 miles from Seattle,"Carnation, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1733,Bainbridge Island,Thanks to the ferry system this island is supe...,nce: 10.3 miles from Seattle,"Bainbridge Island, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1735,USS Turner Joy,Have you ever been curious about what happens ...,nce: 65.3 miles from Seattle,"300 Washington Beach Ave, Bremerton, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"

In [23]:
sea_complete = sea_complete[sea_complete["description"] != ""]
sea_complete

,title,description,when,where,link,category,tags
77,A La Mode Pies,A La Mode is one of the city’s few solely pie ...,,Multiple locations,,Food & Drink,"Food & Drink, Holiday,"
78,Pie Bar,"Sweet, savory, whatever you’re looking for, Pi...",,Multiple locations,,Food & Drink,"Food & Drink, Holiday,"
79,Pagliacci Pizza,Want a pie and a sweet deal. If you purchase a...,,Multiple locations,,Food & Drink,"Food & Drink, Holiday,"
80,Macrina Bakery,"On Monday aka Pi(e) Day, you’ll be able to cho...",,Multiple locations,,Food & Drink,"Food & Drink, Holiday,"
81,Bakery Nouveau,If you want to choose from a selection of rota...,,Multiple locations,,Food & Drink,"Food & Drink, Holiday,"
...,...,...,...,...,...,...,...
1727,North Bend,"Cue the Julee Cruise and Angelo Badalamenti, i...",nce: 30 miles from Seattle,"North Bend, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1729,Bow-Edison,We can always find a reason to head out to Bow...,nce: 73.9 miles from Seattle,"Bow-Edison, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1731,Camlann Medieval Village,Want to really hop back in time? Make a day tr...,nce: 35.9 miles from Seattle,"Carnation, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1733,Bainbridge Island,Thanks to the ferry system this island is supe...,nce: 10.3 miles from Seattle,"Bainbridge Island, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1735,USS Turner Joy,Have you ever been curious about what happens ...,nce: 65.3 miles from Seattle,"300 Washington Beach Ave, Bremerton, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"

2. Concat the rest of the data frames

In [24]:
# Calgary
frames = [fad_calg1, fad_calgX, ttd_calg1, ttd_calgX]
calg_complete = pd.concat(frames)

In [25]:
calg_complete = calg_complete[calg_complete["description"] != ""]

In [26]:
calg_complete.shape

(3584, 7)

In [27]:
# Edmonton
frames = [fad_edm1, fad_edmX, ttd_edm1, ttd_edmX]
edm_complete = pd.concat(frames)

In [28]:
edm_complete = edm_complete[edm_complete["description"] != ""]

In [29]:
edm_complete.shape

(2181, 7)

In [30]:
# Vancouver
frames = [fad_vanc1, fad_vancX, ttd_vanc1]
vanc_complete = pd.concat(frames)

In [31]:
vanc_complete.shape

(1372, 7)

In [32]:
# Toronto
frames = [fad_edm1, ttd_edm1, ttd_edmX]
tor_complete = pd.concat(frames)

In [33]:
tor_complete.shape

(1945, 7)

In [34]:
frames = [tor_complete, vanc_complete, edm_complete, calg_complete, sea_complete ]
curiocity_df = pd.concat(frames)

In [35]:
curiocity_df

,title,description,when,where,link,category,tags
0,One Edmonton restaurant just made a new list o...,From coast to coast Canada has some incredible...,n/a,14229 23 Ave NW,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
1,"Whyte Ave’s highly-awaited bar, Rally Social R...","Gear up people, It’s Rally time! Whyte Avenue’...",n/a,Whyte Avenue and 105th Street,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Entertainment, Food & Drink Events, Support Lo..."
2,This new Edmonton pastry shop serves adorable ...,We can honestly say that we’ve never felt the ...,gram: @stuffiespastriescafe,"8882 170 St NW, Edmonton",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
3,Edmonton's chic new cocktail bar serves pots o...,YEG has no shortage of funky bars and hidden g...,gram: @fus_repair_shop,"9902 109 Street, Edmonton",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Entertainment, Food & Drink, Support Local,"
4,A new Latin American restaurant has opened in ...,Hoping to try something new this weekend? El C...,: 14101 West Block Drive NW,Now open!,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
...,...,...,...,...,...,...,...
1727,North Bend,"Cue the Julee Cruise and Angelo Badalamenti, i...",nce: 30 miles from Seattle,"North Bend, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1729,Bow-Edison,We can always find a reason to head out to Bow...,nce: 73.9 miles from Seattle,"Bow-Edison, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1731,Camlann Medieval Village,Want to really hop back in time? Make a day tr...,nce: 35.9 miles from Seattle,"Carnation, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1733,Bainbridge Island,Thanks to the ferry system this island is supe...,nce: 10.3 miles from Seattle,"Bainbridge Island, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1735,USS Turner Joy,Have you ever been curious about what happens ...,nce: 65.3 miles from Seattle,"300 Washington Beach Ave, Bremerton, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"

In [36]:
curiocity_df = curiocity_df[curiocity_df["description"] != ""]
curiocity_df

,title,description,when,where,link,category,tags
0,One Edmonton restaurant just made a new list o...,From coast to coast Canada has some incredible...,n/a,14229 23 Ave NW,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
1,"Whyte Ave’s highly-awaited bar, Rally Social R...","Gear up people, It’s Rally time! Whyte Avenue’...",n/a,Whyte Avenue and 105th Street,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Entertainment, Food & Drink Events, Support Lo..."
2,This new Edmonton pastry shop serves adorable ...,We can honestly say that we’ve never felt the ...,gram: @stuffiespastriescafe,"8882 170 St NW, Edmonton",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
3,Edmonton's chic new cocktail bar serves pots o...,YEG has no shortage of funky bars and hidden g...,gram: @fus_repair_shop,"9902 109 Street, Edmonton",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Entertainment, Food & Drink, Support Local,"
4,A new Latin American restaurant has opened in ...,Hoping to try something new this weekend? El C...,: 14101 West Block Drive NW,Now open!,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
...,...,...,...,...,...,...,...
1727,North Bend,"Cue the Julee Cruise and Angelo Badalamenti, i...",nce: 30 miles from Seattle,"North Bend, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1729,Bow-Edison,We can always find a reason to head out to Bow...,nce: 73.9 miles from Seattle,"Bow-Edison, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1731,Camlann Medieval Village,Want to really hop back in time? Make a day tr...,nce: 35.9 miles from Seattle,"Carnation, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1733,Bainbridge Island,Thanks to the ferry system this island is supe...,nce: 10.3 miles from Seattle,"Bainbridge Island, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1735,USS Turner Joy,Have you ever been curious about what happens ...,nce: 65.3 miles from Seattle,"300 Washington Beach Ave, Bremerton, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"

In [37]:
curiocity_df

,title,description,when,where,link,category,tags
0,One Edmonton restaurant just made a new list o...,From coast to coast Canada has some incredible...,n/a,14229 23 Ave NW,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
1,"Whyte Ave’s highly-awaited bar, Rally Social R...","Gear up people, It’s Rally time! Whyte Avenue’...",n/a,Whyte Avenue and 105th Street,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Entertainment, Food & Drink Events, Support Lo..."
2,This new Edmonton pastry shop serves adorable ...,We can honestly say that we’ve never felt the ...,gram: @stuffiespastriescafe,"8882 170 St NW, Edmonton",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
3,Edmonton's chic new cocktail bar serves pots o...,YEG has no shortage of funky bars and hidden g...,gram: @fus_repair_shop,"9902 109 Street, Edmonton",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Entertainment, Food & Drink, Support Local,"
4,A new Latin American restaurant has opened in ...,Hoping to try something new this weekend? El C...,: 14101 West Block Drive NW,Now open!,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
...,...,...,...,...,...,...,...
1727,North Bend,"Cue the Julee Cruise and Angelo Badalamenti, i...",nce: 30 miles from Seattle,"North Bend, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1729,Bow-Edison,We can always find a reason to head out to Bow...,nce: 73.9 miles from Seattle,"Bow-Edison, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1731,Camlann Medieval Village,Want to really hop back in time? Make a day tr...,nce: 35.9 miles from Seattle,"Carnation, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1733,Bainbridge Island,Thanks to the ferry system this island is supe...,nce: 10.3 miles from Seattle,"Bainbridge Island, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1735,USS Turner Joy,Have you ever been curious about what happens ...,nce: 65.3 miles from Seattle,"300 Washington Beach Ave, Bremerton, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"

In [38]:
curiocity_df.to_json('~/Documents/INFO/all_cards_data_curiocity.json', orient='table')

In [39]:
data = curiocity_df

In [40]:
data

,title,description,when,where,link,category,tags
0,One Edmonton restaurant just made a new list o...,From coast to coast Canada has some incredible...,n/a,14229 23 Ave NW,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
1,"Whyte Ave’s highly-awaited bar, Rally Social R...","Gear up people, It’s Rally time! Whyte Avenue’...",n/a,Whyte Avenue and 105th Street,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Entertainment, Food & Drink Events, Support Lo..."
2,This new Edmonton pastry shop serves adorable ...,We can honestly say that we’ve never felt the ...,gram: @stuffiespastriescafe,"8882 170 St NW, Edmonton",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
3,Edmonton's chic new cocktail bar serves pots o...,YEG has no shortage of funky bars and hidden g...,gram: @fus_repair_shop,"9902 109 Street, Edmonton",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Entertainment, Food & Drink, Support Local,"
4,A new Latin American restaurant has opened in ...,Hoping to try something new this weekend? El C...,: 14101 West Block Drive NW,Now open!,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
...,...,...,...,...,...,...,...
1727,North Bend,"Cue the Julee Cruise and Angelo Badalamenti, i...",nce: 30 miles from Seattle,"North Bend, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1729,Bow-Edison,We can always find a reason to head out to Bow...,nce: 73.9 miles from Seattle,"Bow-Edison, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1731,Camlann Medieval Village,Want to really hop back in time? Make a day tr...,nce: 35.9 miles from Seattle,"Carnation, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1733,Bainbridge Island,Thanks to the ferry system this island is supe...,nce: 10.3 miles from Seattle,"Bainbridge Island, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"
1735,USS Turner Joy,Have you ever been curious about what happens ...,nce: 65.3 miles from Seattle,"300 Washington Beach Ave, Bremerton, Washington",,Things To Do,"Food & Drink, Outdoors, Support Local,"

# Creating TF IDF
This is to help the LDA with stop words

## Failed! It doesn't help the model

In [41]:
import nltk
from nltk.tokenize import RegexpTokenizer
from stop_words import get_stop_words
from nltk.corpus import stopwords
from gensim import corpora, models, similarities
from nltk.stem.porter import PorterStemmer
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.lancaster import LancasterStemmer
from nltk.tokenize import TweetTokenizer
import os
import tqdm

In [42]:
# TF IDF of databframe to get most used words and add them to stop words
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

tfidf_corpus = data.description
vectorizer = TfidfVectorizer(input='tfidf_corpus')
X = vectorizer.fit_transform(tfidf_corpus)
X.shape

(11038, 19048)

In [43]:
tfidf_df = pd.DataFrame(X.toarray(), index=data.title, columns=vectorizer.get_feature_names())

In [44]:
tfidf_df.loc['00_Document Frequency'] = (tfidf_df > 0).sum()

In [45]:
tfidf_df.sort_index().round(decimals=5)

,00,000,000lbs,04fittmh0g,05,10,100,1000,100k,100th,...,zoë,zucchini,zyn,ça,élie,étretat,ólafur,šxʷƛ,əkwəsqwel,ənəq
title,,,,,,,,,,,,,,,,,,,,,
,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
“Scenes from the Middle Class” by Dana Robinson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
“Scenes from the Middle Class” by Dana Robinson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
“Scenes from the Middle Class” by Dana Robinson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
“Scenes from the Middle Class” by Dana Robinson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
“THE BLUNT” FROM INDIE COUNTER CULTURE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
tfidf_df = tfidf_df.drop('00_Document Frequency', errors='ignore')

In [48]:
tfidf_df = tfidf_df.stack().reset_index()

In [49]:
tfidf_df = tfidf_df.rename(columns={0:'tfidf', 'level_0': 'document','level_1': 'term', 'level_2': 'term'})

In [53]:
good_words = tfidf_df[tfidf_df["tfidf"] > 0.0]

In [60]:
good_words = good_words.drop_duplicates(subset=['term'])

In [614]:
tfid_stop_words = good_words[good_words["tfidf"] < 0.05]

In [615]:
tfid_stop_words

,title,term,tfidf
5,One Edmonton restaurant just made a new list o...,10,0.047201
729,One Edmonton restaurant just made a new list o...,after,0.041268
1003,One Edmonton restaurant just made a new list o...,and,0.045595
1212,One Edmonton restaurant just made a new list o...,are,0.029086
2720,One Edmonton restaurant just made a new list o...,but,0.030509
...,...,...,...
198792570,Arts,greenstage,0.045706
198797420,Arts,perfume,0.042412
198798706,Arts,refractions,0.043779
198799085,Arts,rhodzi,0.045706
198803102,Arts,villains,0.045706

## Summary
I created the stop words and I used them to cluster the documents into categories. The model worked better (It had better and more prediictions) than using TF IDF

This is the lda model to cluster the documents

# Creating LDA clusters

I will first use LDA to get the vectors and categories that the documents are going to be matching with.

In [42]:
#
import string
porter = PorterStemmer()

words_to_skip = ["i", "canada", "seattle", "edmonton", "calgary", "vancouver", "toronto", "canadian", "edmonton", "alberta", "montreal", "sooner", '_', '...',"‘", '-', "'",'washington', "…", "’", "–", "like", "2022", "1", "10", "”", "“", "really", "new", "best", "favorite", "one", "amazing", "extraordinary", "super", "very", "inmaculate", "prettiest", "outstanding", "8", "5", "7", "10/10"]
stop_words = set(stopwords.words('english') + list(string.punctuation) + list(words_to_skip)) #Trying now without the tfidf + tfid_stop_words.term


texts = []
tokenizer = TweetTokenizer()
for d in curiocity_df.description:
    raw = d.lower()
    tokens = tokenizer.tokenize(raw)
    cleaned_tokens = []
    for token in tokens:
        if (token not in stop_words):
            cleaned_tokens.append(token)
    cleaned_tokens_filtered = []
    for ctoken in cleaned_tokens:
        if (ctoken not in words_to_skip):
            cleaned_tokens_filtered.append(ctoken)
    stemmed_tokens = []
    for token in cleaned_tokens_filtered:
        stemmed_tokens.append(porter.stem(token))
    texts.append(stemmed_tokens)
    
# Double stopwords to get rid of any derivate of the words that are not useful
# to categorize the documents e.g. (canada-man, token = canada, double filter
# for canada to be extracted)

double_stop_texts = []
for text in texts:
    doc = []
    for word in text:
        if word not in list(string.punctuation):
            if (word not in list(stop_words)):
                doc.append(word)
    double_stop_texts.append(doc)


dictionary = corpora.Dictionary(double_stop_texts)
corpus = [dictionary.doc2bow(text) for text in double_stop_texts]
lda_model = models.ldamodel.LdaModel(corpus=corpus, id2word=dictionary, num_topics=15)
index_best = similarities.MatrixSimilarity(corpus)

In [43]:
len(corpus), data.shape

(11038, (11038, 7))

In [44]:
lda_model

In [45]:
type(index_best)

gensim.similarities.docsim.MatrixSimilarity

## Testing
Here I am testing to see if the user queries we have in mind could yield to good recommendations. This is by first tokenize them with the twitter tokenizer and get the result. I first tried with double stopwords but it was too much so I opted to just have one filter.

In [46]:
other_texts = [
    "I like to go running to the park as well as going to the movies and watch sports. I like hiking, I like sports a lot and playing soccer. Going to the park",
    "coffee, movies, art, music, concerts, country",
    "coffee, restaurants, bar, beer, tequila, drinks, nightlife",
    "I really like watching tv shows on netflix and also I like to read fantasy novels",
    "I go to UW, I am a college student and I like to play baseball, football, and golf. I like to o to the lake and tailgate. I like to snowboard as well",
    "coffee"
]
stop_words = set(stopwords.words('english') + list(string.punctuation) + list(words_to_skip))

texts2 = []
for t in other_texts:
    raw = t.lower()
    tokens = tokenizer.tokenize(raw)
    cleaned_tokens = []
    for token in tokens:
        if (token not in stop_words):
            cleaned_tokens.append(token)
    stemmed_tokens = []
    for token in cleaned_tokens:
        stemmed_tokens.append(porter.stem(token))
    texts2.append(stemmed_tokens)


other_corpus = [dictionary.doc2bow(text) for text in texts2]
unseen_doc = other_corpus[4]
vector = lda_model[unseen_doc]
vector

[(1, 0.117512986), (7, 0.27393743), (10, 0.3849393), (13, 0.15679352)]

In [47]:
lda_model.print_topic(2, topn=10)

'0.014*"get" + 0.012*"check" + 0.008*"go" + 0.008*"spot" + 0.007*"summer" + 0.007*"place" + 0.006*"calgarian" + 0.006*"year" + 0.006*"make" + 0.006*"find"'

In [48]:
print(lda_model)

LdaModel(num_terms=15738, num_topics=15, decay=0.5, chunksize=2000)

## Version 0.1.2
Here I am going to try to compute similarity directly from the lda_model. <br>

1. First I am going to do lda to all the seattle docs to categorize them.
2. Compare all the seattles_documents vectors to my query
3. Display them by using cosine similarity for ranking.

In [50]:
sea_complete.shape

(1992, 7)

In [51]:
# Step1: Getting seattle docs vectors

texts_sea_2 = []
tokenizer = TweetTokenizer()
for d in sea_complete.description:
    raw_sea_2 = d.lower()
    tokens_sea_2 = tokenizer.tokenize(raw_sea_2)
    cleaned_tokens_sea_2 = []
    for token in tokens_sea_2:
        if (token not in stop_words):
            cleaned_tokens_sea_2.append(token)
    cleaned_tokens_sea_filtered_2 = []
    for ctoken in cleaned_tokens_sea_2:
        if (ctoken not in words_to_skip):
            cleaned_tokens_sea_filtered_2.append(ctoken)
    stemmed_tokens_sea_2 = []
    for token in cleaned_tokens_sea_filtered_2:
        stemmed_tokens_sea_2.append(porter.stem(token))
    texts_sea_2.append(stemmed_tokens_sea_2)
    
# Double stopwords -> terms like canada appeared even after the first stopwords attempt
double_stop_texts_sea_2 = []
for text in texts_sea_2:
    doc = []
    for word in text:
        if word not in list(string.punctuation):
            if (word not in list(stop_words)):
                doc.append(word)
    double_stop_texts_sea_2.append(doc)


other_corpus_sea_2 = [dictionary.doc2bow(text) for text in double_stop_texts_sea_2]
vectors_cards_sea_2 = [lda_model[corpus_sea] for corpus_sea in other_corpus_sea_2]
test_sea_vector = vectors_cards_sea_2[1]

In [52]:
test_sea_vector

[(6, 0.8658361), (14, 0.09948637)]

In [53]:
# Step 2: Create the matrix for cosine similarity query

mat_vector_query_2 = [0] * 15
for tup in vector:
    mat_vector_query_2[tup[0]] = tup[1]
mat_vector_query_2

[0,
 0.117512986,
 0,
 0,
 0,
 0,
 0,
 0.27393743,
 0,
 0,
 0.3849393,
 0,
 0,
 0.15679352,
 0]

In [62]:
# Step 2: comparing query vector to all seattle docs.

def compare_vector_with_docs_vectors(vector, docs_vectors):
    from scipy import spatial
    
    # Create the matrix for cosine similarity query
    mat_vector_query_2 = [0] * 15
    for tup in vector:
        mat_vector_query_2[tup[0]] = tup[1]
    mat_vector_query_2
    
    # Getting the matrix vector size 15 of all the seattle cards lda vectors
    count = 0
    recommended_cards_2 = []
    for card_vector in docs_vectors:
        mat_vector_sea = [0] * 15
        for tup in card_vector:
            mat_vector_sea[tup[0]] = tup[1]
        result = 1 - spatial.distance.cosine(mat_vector_query_2, mat_vector_sea)
        if result > 0.70 :
            pair = [count, result]
            recommended_cards_2.append(pair)
        count += 1
    return recommended_cards_2

In [63]:
## "I go to UW, I am a college student and I like to play baseball, football, and golf. I like to o to the lake and tailgate. I like to snowboard as well",
list_test_1 =  compare_vector_with_docs_vectors(vector, vectors_cards_sea_2)

In [70]:
len(list_test_1)

41

In [75]:
# Sort recommendations by probability

recommended_cards_sorted_1 = sorted(list_test_1, key=lambda l:l[1], reverse=True)
recommended_cards_sorted_1[0], recommended_cards_sorted_1[3]

([1675, 0.8797310935807741], [1820, 0.8117012992784595])

In [76]:
db2_sea_reset = sea_complete.reset_index()

In [77]:
print(db2_sea_reset.iloc[1675])

index                                                       1396
title                                     Seattle Chinese Garden
description     Photo via Seattle Chinese Garden Instagram  L...
when
where                                           6000 16th Ave SW
link
category                                            Things To Do
tags
Name: 1675, dtype: object





<br>
<br>

<br>

### Second test with different vector

In [78]:
# Changing vector query for other tests
# query = "coffee, movies, art, music, concerts, country"
vector2 = lda_model[other_corpus[1]]
vector2

[(1, 0.86665684)]

In [79]:
# comparing vectors 2 and seattle_vectors
list_test_2 =  compare_vector_with_docs_vectors(vector2, vectors_cards_sea_2)

In [80]:
# Sort recommendations by probability

recommended_cards_sorted_2 = sorted(list_test_2, key=lambda l:l[1], reverse=True)
recommended_cards_sorted_2[0], recommended_cards_sorted_2[6]

([810, 1.0], [1519, 0.9970915508856285])


> I find very weird to have a 1.0 and .99 cosine similarity in this case. I think that this is due to the stop words and probably double stop word I did in the beginning. I need a test for this query without using double stop words

In [81]:
len(recommended_cards_sorted_2)

241

In [83]:
print(db2_sea_reset.iloc[1519])

index                                                       1203
title          RhodZi & Church: Two Short Films By Charles Mu...
description    This is a great chance to check out two short ...
when                                          : 900 Boylston Ave
where                                          Until August 19th
link
category                                            Things To Do
tags                                             Entertainment,
Name: 1519, dtype: object

<br>




<br>

### Third test with different vector

In [93]:
# Changing vector query for other tests
# "I like to go running to the park as well as going to the movies and watch sports. I like hiking, I like sports a lot and playing soccer. Going to the park",
vector3 = lda_model[other_corpus[0]]
vector3

[(7, 0.22749771), (10, 0.71832824)]

In [94]:
# comparing vectors 2 and seattle_vectors
list_test_3 =  compare_vector_with_docs_vectors(vector3, vectors_cards_sea_2)

In [95]:
# Sort recommendations by probability

recommended_cards_sorted_3 = sorted(list_test_3, key=lambda l:l[1], reverse=True)
recommended_cards_sorted_3[0], recommended_cards_sorted_3[3]

([456, 0.9739310302600722], [507, 0.9533318723636208])

In [88]:
len(recommended_cards_sorted_3)

88

In [96]:
print(db2_sea_reset.iloc[507])

index                                                         98
title                                  Green Lake Pitch and Putt
description    This small golf course is a Seattle located al...
when                                        : Daily 9 am-7:30 pm
where                                 5701 East Green Lake Way N
link
category                                            Things To Do
tags                        Attractions, Sports, Support Local,
Name: 507, dtype: object


## Notes:
<br>
After version 0.1.2 I understood that recommending something similar to what the people like is not sufficient for personalization. This is because the most probable things that a person would look for in google or yelp are what they like or know the best. Since the recommendation algorithm is just looking for the things a person most likely knows or is going to be easier for them to interact, there is going to be a poor user experience with the system. 

For this I propose the idea of having different modes on how to use the app by filtering between doing personal recommendations depending on what they interact with; or displaying more novel results.

In [239]:
# We are going to do cosine similarity with every documentsimi
query = other_corpus[4]
sims = index_best.get_similarities(query)

count = 0
docs_ids_user_query = []
for i in sims:
    if i > 0.60:
        docs_ids_user_query.append(count)
    count += 1
len(docs_ids_user_query)

13

In [240]:
# dosc_ids_user_query are the numbers of the cards from the master db that are similar to the query

curiocity_df.iloc[docs_ids_user_query]

,title,description,when,where,link,category,tags
107,IMAGINE DRAGONS,"Speaking of icons, Imagine Dragons are going t...",: 10220 104 Avenue NW,"Wednesday, April 13th",,Things To Do,"Adventure, Attractions, Entertainment, Outdoors,"
474,HIT A GOLF SIMULATOR,"Speaking of indoor options, this one is all ab...",: Multiple locations,Open throughout the weekend,,Things To Do,"Adventure, Arts & Culture, Entertainment, Food..."
1509,HIT THE LINKS,"Once again, we think that golf is going to hav...",: Locations around Edmonton,Now open,,Things To Do,"Entertainment,"
360,Seasons in The Park,This might just be Vancouver’s ultimate outdoo...,": Monday-Saturday 11:30 am-8:30 pm, Sunday 10:...","Queen Elizabeth Park, 33rd Avenue",,Food & Drink,"Food & Drink, Patios,"
107,IMAGINE DRAGONS,"Speaking of icons, Imagine Dragons are going t...",: 10220 104 Avenue NW,"Wednesday, April 13th",,Things To Do,"Adventure, Attractions, Entertainment, Outdoors,"
474,HIT A GOLF SIMULATOR,"Speaking of indoor options, this one is all ab...",: Multiple locations,Open throughout the weekend,,Things To Do,"Adventure, Arts & Culture, Entertainment, Food..."
1509,HIT THE LINKS,"Once again, we think that golf is going to hav...",: Locations around Edmonton,Now open,,Things To Do,"Entertainment,"
1463,Monster Mini Golf,"Of course, we can’t overlook another way to pl...",$13.95 per person,2020 32 Avenue NE,,Things To Do,"Attractions, Entertainment, Outdoors,"
1696,HIT ONE OF CALGARY’S OUTDOOR POOLS,"With temperatures well into the 30s, city-slic...",,,,Things To Do,"Entertainment, Family-Friendly, Support Local,"
1727,SHOULDICE PARK,Plan on doing a whole lot more than just going...,,"4900 Monserrat Dr. NW, Calgary",,Things To Do,
2119,GO GOLFING!,"Well, folks according to the forecast, the wea...",,,,Things To Do,
560,The Dish,This is our favorite spot for a classic Americ...,,4358 Leary Way NW & 301 NE 65th St,,Food & Drink,
98,Green Lake Pitch and Putt,This small golf course is a Seattle located al...,: Daily 9 am-7:30 pm,5701 East Green Lake Way N,,Things To Do,"Attractions, Sports, Support Local,"

In [49]:
# Upload cards data and check if the model works with data from seattle

texts_sea = []
tokenizer = TweetTokenizer()
for d in sea_complete.description:
    raw_sea = d.lower()
    tokens_sea = tokenizer.tokenize(raw_sea)
    cleaned_tokens_sea = []
    for token in tokens_sea:
        if (token not in stop_words):
            cleaned_tokens_sea.append(token)
    cleaned_tokens_sea_filtered = []
    for ctoken in cleaned_tokens_sea:
        if (ctoken not in words_to_skip):
            cleaned_tokens_sea_filtered.append(ctoken)
    stemmed_tokens_sea = []
    for token in cleaned_tokens_sea_filtered:
        stemmed_tokens_sea.append(porter.stem(token))
    texts_sea.append(stemmed_tokens_sea)
# Double stopwords
double_stop_texts_sea = []
for text in texts_sea:
    doc = []
    for word in text:
        if word not in list(string.punctuation):
            if (word not in list(stop_words)):
                doc.append(word)
    double_stop_texts_sea.append(doc)


other_corpus_sea = [dictionary.doc2bow(text) for text in double_stop_texts_sea]
unseen_doc = other_corpus_sea[1]

NameError: name 'double_stop_texts_sea_2' is not defined

In [242]:
# We are going to create a naive graph with a list that has dicts inside
master_graph = []
for card in curiocity_df.iterrows():
    this_set = set()
    master_graph.append(this_set)
master_graph[0]

set()

In [243]:
# We are getting the similarities all the seattle cards with the rest of the cards

cards_sea_db = other_corpus_sea
cards_sea_sims = []
for query in cards_sea_db:
    cards_sea_sims.append(index_best.get_similarities(query))

In [248]:
len(cards_sea_sims), len(cards_sea_sims[0])

(1992, 11038)

In [249]:
# This method checks the similarity with all the documents and appends the similar ones
# It is a matrix of rows = sea cards, columns = rest_of_cards, and the relationship is the probability of similarity

all_sea_docs_vector_sims = []
for card_sim in cards_sea_sims:
    docs_ids = []
    count = 0
    for i in card_sim:
        if i > 0.80:
            docs_ids.append(count)
        count += 1
    all_sea_docs_vector_sims.append(docs_ids)

In [250]:
len(all_sea_docs_vector_sims[1])

373

In [252]:
# This reads as: look in curiocity_df (rest of cards) the indices of the cards realated to seattle card wiith index 1

curiocity_df.iloc[all_sea_docs_vector_sims[1]]

,title,description,when,where,link,category,tags
2,This new Edmonton pastry shop serves adorable ...,We can honestly say that we’ve never felt the ...,gram: @stuffiespastriescafe,"8882 170 St NW, Edmonton",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
9,What to know about the return of Downtown Dini...,"We’ve got something to get excited about, food...",: Locations around Edmonton,March 30th to April 10th,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink Events, Support Local,"
13,This 'cocktail haven' is hidden behind a bookc...,If there’s one thing that we love more than a ...,gram: @Alchemy.bar,"10344 102 St NW, Edmonton – 5th floor",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Adventure, Food & Drink,"
15,More peach mango pies! Edmonton just got anoth...,The Jollibee train just continues to chug alon...,n/a,881 Tamarack Way NW,https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Food & Drink,"
23,Cineplex Canada to give away FREE bags of butt...,"As the year’s saltiest holiday approaches, Cin...",: At all open Cineplex locations or via the Sk...,"Wednesday, January 19th",https://curiocity.com/wp-content/uploads/2022/...,Food & Drink,"Entertainment, Food & Drink, Holiday,"
...,...,...,...,...,...,...,...
1496,Re/frame: Pop Up Edition,This recurring program from the Henry takes a ...,: Online,May 20th,,Things To Do,
1502,Order Mother’s Day takeout,Mother’s Day is rapidly approaching and if you...,,Click above to see our picks,,Things To Do,
1518,Independent Bookstore Day,Every local literary nerd’s favorite day is he...,: 21 participating bookstores,Until May 3rd,,Things To Do,
1558,Tech N9ne,This concert is coming up fast and we think it...,: 1700 1st Ave S,May 8th,,Things To Do,
1661,40th Anniversary Exhibition at Linda Hodges Ga...,One of Seattle’s classic galleries is celebrat...,: 316 First Ave S,March 4th-27th,,Things To Do,

In [254]:
# This is creating a graph with index as rest of the cards (curiocity_df) and a set of
# cards of seattle that are related that card. So connections with seattle cards

count = 0
for recs in all_sea_docs_vector_sims:
    for recommendation in recs:
        master_graph[recommendation].add(count)
    count += 1
print("This is supposed to be the same as the amount of seattle cards we have: ", count)

This is supposed to be the same as the amount of seattle cards we have:  1992

In [255]:
# Amount of seattle cards related with this rest_of_the_cards 

len(master_graph[2])

127

In [256]:
# docs_ids_user_query are the rest_of_cards ids that are related to the query
# This method is getting the seattle cards from all the rest of the cards relationships

user_rec_cards = set()
for i in docs_ids_user_query:
    [user_rec_cards.add(card) for card in master_graph[i]]

In [257]:
sea_complete.iloc[list(user_rec_cards)]

,title,description,when,where,link,category,tags
188,The Maple Pub,If you’re looking for classic dishes with a fe...,: Saturday & Sunday 10:30 am-2 pm,8929 Roosevelt Way NE,,Food & Drink,"Food & Drink,"
192,Nue,Nue is a unique spot all around because they o...,": Monday-Thursday 11 am-10 pm, Friday 11 am-11...",1519 14th Ave,,Food & Drink,"Food & Drink,"
193,Mission Cantina,Folks in West Seattle can enjoy pan-Latin week...,: Saturday & Sunday 10 am-4 pm,2325 California Ave SW,,Food & Drink,"Food & Drink,"
194,Lost Lake,"While no longer a 24-hour restaurant, Lost Lak...",: Thursday-Saturday 6 am-2 am and Sunday-Wedne...,1505 10th Ave,,Food & Drink,"Food & Drink,"
210,Pickles,You either love them or hate them. Pickles and...,,,,Food & Drink,"Food & Drink,"
...,...,...,...,...,...,...,...
1712,Go for a winter hike,You can never go wrong with a hike and luckily...,,Click above to see our picks.,,Things To Do,
1716,Jacob Lawrence: The American Struggle,The Seattle Art Museum is back this March and ...,: 1300 1st Avenue,March 5th-May 23rd,,Things To Do,
1717,Field to Table,If you’re looking for a unique dining experien...,: 800 Occidental Ave S,Until March 7th,,Things To Do,
1718,Head to a museum,"That’s right folks, by the time you’re reading...",,,,Things To Do,
1723,The Experimental Self: Edvard Munch’s Photography,Normally when you think of Edvard Munch you th...,: 2655 NW Market St or online,Until April 18th,,Things To Do,

### Model

In [124]:
# Model to get recomended documents or places to go

# We have to define master graph and seattle database to call

# initiate this before >
def lda_query_docspace_vectorizer(query):
    import string
    import nltk
    from nltk.tokenize import RegexpTokenizer
    from nltk.corpus import stopwords
    from gensim import corpora, models, similarities
    from nltk.stem.porter import PorterStemmer
    from nltk.stem.snowball import SnowballStemmer
    from nltk.stem.lancaster import LancasterStemmer
    from nltk.tokenize import TweetTokenizer
    import os
    import tqdm
    
    stop_words_model = set(stopwords.words('english') + list(string.punctuation) + list(words_to_skip))

    texts2_model = []
    raw_model = query.lower()
    tokens_model = tokenizer.tokenize(raw_model)
    cleaned_tokens_model = []
    for token in tokens_model:
        if (token not in stop_words_model):
            cleaned_tokens_model.append(token)
    stemmed_tokens_model = []
    for token in cleaned_tokens_model:
        stemmed_tokens_model.append(porter.stem(token))
    texts2_model.append(stemmed_tokens_model)

    other_corpus_model = [dictionary.doc2bow(text) for text in texts2_model]
    unseen_doc_model = other_corpus_model[0]
    vector_model = lda_model[unseen_doc_model]

    # Check all the documents ids that are similar in the master data base
    # We are going to do cosine similarity with every documentsimi
    query_model = other_corpus_model[0]
    sims_model = index_best.get_similarities(query_model)
    count_model = 0
    docs_ids_user_query_model = []
    for i in sims_model:
        if i > 0.80:
            docs_ids_user_query_model.append(count_model)
        count_model += 1

    # Retrieve all documents (from specific location) which match with the master cards documents 
    # Which were retrieved in last space
    # Before this step we need to have 
    user_rec_cards_model = set()
    for i in docs_ids_user_query_model:
        [user_rec_cards_model.add(card) for card in master_graph[i]]
        
    # create db and return the indi
    indices_to_return = sea_complete.iloc[list(user_rec_cards_model)].index
            
    return indices_to_return

In [125]:
recommendations1 = lda_query_docspace_vectorizer("coffee, movies, art, music, concerts, country")

In [126]:
len(recommendations1)

312

## Create Master Graph Bump

In [259]:
# import cards seattle db
seattle_bump_cards_db = pd.read_json('~/Documents/INFO/Capstone22/recsys/seattle_cards_bump_pythVersion.json', orient='table')
seattle_bump_cards_db.reset_index()
seattle_bump_cards_db.columns

Index(['card_id', 'title', 'description', 'when', 'where', 'category', 'tags',
       'img_name'],
      dtype='object')

In [260]:
seattle_bump_cards_db = seattle_bump_cards_db.reset_index()

In [261]:
seattle_bump_cards_db.head()

,index,card_id,title,description,when,where,category,tags,img_name
0,202,202,Analog,Analog is a modern American coffee shop locat...,Daily 7 am-6 pm,235 Summit Ave E,Food & Drink,NaN,202_sea.jpg
1,203,203,Union Coffee & Wine,Union is a great place to snag a cup of joe a...,Daily 8 am-4 pm,"2407 E Union St Suite B, Seattle, WA",Food & Drink,NaN,203_sea.jpg
2,204,204,General Porpoise,\nIf you want to enjoy a space that is beautif...,Varies,Multiple locations,Food & Drink,NaN,204_sea.jpg
3,205,205,Hood Famous Bakeshop,Not only is Hood Famous super cute but they a...,"Wednesday-Friday 8 am-4 pm, Saturday & Sunday...","504 5th Ave S, Suite 107A",Food & Drink,NaN,205_sea.jpg
4,206,206,Zeitgeist Coffee,This Pioneer Square spot is a classic coffee ...,Monday-Friday 7 am-1 pm,171 S. Jackson Street,Food & Drink,NaN,206_sea.jpg

In [262]:
# Upload cards data and check if the model works with data from seattle

texts_sea = []
tokenizer = TweetTokenizer()
for d in seattle_bump_cards_db.description:
    raw_sea = d.lower()
    tokens_sea = tokenizer.tokenize(raw_sea)
    cleaned_tokens_sea = []
    for token in tokens_sea:
        if (token not in stop_words):
            cleaned_tokens_sea.append(token)
    cleaned_tokens_sea_filtered = []
    for ctoken in cleaned_tokens_sea:
        if (ctoken not in words_to_skip):
            cleaned_tokens_sea_filtered.append(ctoken)
    stemmed_tokens_sea = []
    for token in cleaned_tokens_sea_filtered:
        stemmed_tokens_sea.append(porter.stem(token))
    texts_sea.append(stemmed_tokens_sea)
# Double stopwords
double_stop_texts_sea = []
for text in texts_sea:
    doc = []
    for word in text:
        if word not in list(string.punctuation):
            if (word not in list(stop_words)):
                doc.append(word)
    double_stop_texts_sea.append(doc)

other_corpus_sea = [dictionary.doc2bow(text) for text in double_stop_texts_sea]
vectors_cards_sea = [lda_model[corpus_sea] for corpus_sea in other_corpus_sea]
unseen_doc = other_corpus_sea[1]

In [263]:
# These are the lda vectors
len(vectors_cards_sea[0])

5

In [264]:
# We are going to create a naive graph with a list that has dicts inside
master_graph_bump_sea = []
for card in curiocity_df.iterrows():
    this_set = set()
    master_graph_bump_sea.append(this_set)
master_graph_bump_sea[0]

set()

In [265]:
# We get the vectors in the vector space of our corpus. We are getting the 

cards_bump_sea_db = other_corpus_sea
cards_sea_sims_bump = []
for query_bump in cards_bump_sea_db:
    cards_sea_sims_bump.append(index_best.get_similarities(query_bump))

In [267]:
len(cards_sea_sims_bump), len(cards_sea_sims_bump[0])

(447, 11038)

In [268]:
# This method is matching the documents ids from the master database with the seattle ones
all_sea_docs_vector_sims = []
for card_sim in cards_sea_sims_bump:
    docs_ids = []
    count = 0
    for i in card_sim:
        if i > 0.80:
            docs_ids.append(count)
        count += 1
    all_sea_docs_vector_sims.append(docs_ids)

In [269]:
len(all_sea_docs_vector_sims)

447

In [270]:
# Add the recommenadtions to the master_graph_bump
count = 0
for recs in all_sea_docs_vector_sims:
    for recommendation in recs:
        master_graph_bump_sea[recommendation].add(count)
    count += 1
len(master_graph_bump_sea)

11038

In [271]:
user_rec_cards = set()
for i in docs_ids_user_query:
    [user_rec_cards.add(card) for card in master_graph_bump_sea[i]]
user_rec_cards

{4,
 7,
 14,
 21,
 22,
 23,
 26,
 29,
 30,
 32,
 33,
 34,
 36,
 37,
 38,
 40,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 50,
 51,
 53,
 54,
 55,
 56,
 60,
 61,
 62,
 64,
 65,
 66,
 67,
 68,
 72,
 73,
 74,
 76,
 77,
 83,
 86,
 98,
 99,
 100,
 102,
 107,
 110,
 112,
 116,
 118,
 119,
 120,
 121,
 122,
 123,
 127,
 128,
 129,
 135,
 139,
 140,
 142,
 144,
 149,
 150,
 153,
 154,
 155,
 158,
 161,
 162,
 164,
 167,
 168,
 171,
 173,
 174,
 178,
 179,
 180,
 181,
 183,
 186,
 187,
 189,
 194,
 199,
 207,
 211,
 213,
 216,
 221,
 223,
 225,
 229,
 234,
 237,
 240,
 242,
 244,
 245,
 247,
 248,
 250,
 251,
 252,
 254,
 255,
 257,
 261,
 263,
 264,
 265,
 267,
 268,
 269,
 270,
 271,
 272,
 274,
 276,
 286,
 289,
 290,
 292,
 293,
 296,
 298,
 300,
 304,
 305,
 307,
 308,
 309,
 313,
 314,
 315,
 316,
 320,
 327,
 328,
 331,
 333,
 334,
 342,
 344,
 348,
 350,
 355,
 356,
 357,
 361,
 364,
 373,
 380,
 381,
 382,
 383,
 384,
 385,
 388,
 389,
 390,
 391,
 393,
 394,
 395,
 396,
 397,
 398,
 401,
 402,
 403,
 407,
 409,
 410,
 414,
 415,
 418,
 419,
 422,
 426,
 432,
 435,
 436,
 439,
 440,
 442,
 445,
 446}

In [272]:
list_of_recs = seattle_bump_cards_db.iloc[list(user_rec_cards)]
list_of_recs.index

Int64Index([  4,   7,  14,  21,  22,  23,  26,  29,  30,  32,
            ...
            422, 426, 432, 435, 436, 439, 440, 442, 445, 446],
           dtype='int64', length=194)

In [273]:
vector, vectors_cards_sea[1]

([(4, 0.15490764),
  (7, 0.23495536),
  (9, 0.11811558),
  (12, 0.12684311),
  (14, 0.30448198)],
 [(2, 0.31112847), (6, 0.649466)])

In [274]:
# Create the matrix for cosine similarity query

mat_vector_query = [0] * 15
for tup in vector:
    mat_vector_query[tup[0]] = tup[1]
mat_vector_query

[0,
 0,
 0,
 0,
 0.15490764,
 0,
 0,
 0.23495536,
 0,
 0.11811558,
 0,
 0,
 0.12684311,
 0,
 0.30448198]

In [322]:
# Create the matrix for jaccard similarity query

mat_vector_query_jac = [0] * 15
for tup in vector:
    mat_vector_query_jac[tup[0]] = 1 if tup[1] > 0 else 0
mat_vector_query_jac

[0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1]

In [275]:
# Getting the matrix vector size 15 of all the seattle cards lda vectors

count = 0
mat_vectors_sea = []
for vec in vectors_cards_sea:
    if count in list_of_recs.index:
        mat_vector_sea = [0] * 15
        for tup in vec:
            mat_vector_sea[tup[0]] = tup[1]
        mat_vectors_sea.append(mat_vector_sea)
    count += 1

In [316]:
# Getting the matrix vector size 15 of all the seattle cards lda vectors with jaccard

count = 0
mat_vectors_sea_jac = []
for vec in vectors_cards_sea:
    if count in list_of_recs.index:
        mat_vector_sea_jac = [0] * 15
        for tup in vec:
            mat_vector_sea_jac[tup[0]] = 1 if tup[1] > 0 else 0
        mat_vectors_sea_jac.append(mat_vector_sea_jac)
    count += 1

In [320]:
len(mat_vectors_sea_jac)

194

In [277]:
# Doing all the cosine sims between query and seattle cards

from scipy import spatial
results = []
for matvect in mat_vectors_sea:
    result = 1 - spatial.distance.cosine(mat_vector_query, matvect)
    results.append(result)
len(results)

194

In [323]:
# Using Jaccard for similarity

results_jaccard = []
for matvect in mat_vectors_sea_jac:
    result_jaccard = 1 - spatial.distance.jaccard(mat_vector_query_jac, matvect)
    results_jaccard.append(result_jaccard)
results_jaccard

[0.2857142857142857,
 0.1428571428571429,
 0.0,
 0.1428571428571429,
 0.4285714285714286,
 0.2857142857142857,
 0.1428571428571429,
 0.33333333333333337,
 0.16666666666666663,
 0.4,
 0.33333333333333337,
 0.33333333333333337,
 0.2857142857142857,
 0.1428571428571429,
 0.33333333333333337,
 0.4,
 0.33333333333333337,
 0.19999999999999996,
 0.125,
 0.4,
 0.125,
 0.16666666666666663,
 0.33333333333333337,
 0.19999999999999996,
 0.25,
 0.16666666666666663,
 0.125,
 0.33333333333333337,
 0.33333333333333337,
 0.33333333333333337,
 0.19999999999999996,
 0.4285714285714286,
 0.1428571428571429,
 0.25,
 0.1428571428571429,
 0.0,
 0.16666666666666663,
 0.125,
 0.4,
 0.33333333333333337,
 0.1428571428571429,
 0.4,
 0.33333333333333337,
 0.0,
 0.33333333333333337,
 0.1428571428571429,
 0.2857142857142857,
 0.33333333333333337,
 0.1428571428571429,
 0.25,
 0.4,
 0.5,
 0.33333333333333337,
 0.1428571428571429,
 0.5,
 0.1428571428571429,
 0.125,
 0.125,
 0.33333333333333337,
 0.16666666666666663,
 0.4444444444444444,
 0.2222222222222222,
 0.16666666666666663,
 0.33333333333333337,
 0.33333333333333337,
 0.16666666666666663,
 0.19999999999999996,
 0.09999999999999998,
 0.16666666666666663,
 0.33333333333333337,
 0.33333333333333337,
 0.2857142857142857,
 0.2222222222222222,
 0.19999999999999996,
 0.11111111111111116,
 0.1428571428571429,
 0.4285714285714286,
 0.0,
 0.09999999999999998,
 0.33333333333333337,
 0.2857142857142857,
 0.1428571428571429,
 0.2857142857142857,
 0.18181818181818177,
 0.2222222222222222,
 0.11111111111111116,
 0.09090909090909094,
 0.125,
 0.5,
 0.33333333333333337,
 0.4285714285714286,
 0.0,
 0.1428571428571429,
 0.16666666666666663,
 0.16666666666666663,
 0.2857142857142857,
 0.0,
 0.2857142857142857,
 0.1428571428571429,
 0.1428571428571429,
 0.1428571428571429,
 0.1428571428571429,
 0.2857142857142857,
 0.19999999999999996,
 0.33333333333333337,
 0.16666666666666663,
 0.33333333333333337,
 0.16666666666666663,
 0.16666666666666663,
 0.33333333333333337,
 0.1428571428571429,
 0.25,
 0.33333333333333337,
 0.16666666666666663,
 0.6,
 0.2857142857142857,
 0.125,
 0.33333333333333337,
 0.5,
 0.4285714285714286,
 0.0,
 0.0,
 0.33333333333333337,
 0.33333333333333337,
 0.125,
 0.2857142857142857,
 0.33333333333333337,
 0.2857142857142857,
 0.1428571428571429,
 0.33333333333333337,
 0.16666666666666663,
 0.19999999999999996,
 0.125,
 0.11111111111111116,
 0.125,
 0.11111111111111116,
 0.0,
 0.0,
 0.1428571428571429,
 0.125,
 0.2857142857142857,
 0.2222222222222222,
 0.2857142857142857,
 0.0,
 0.0,
 0.09999999999999998,
 0.25,
 0.33333333333333337,
 0.33333333333333337,
 0.2857142857142857,
 0.1428571428571429,
 0.2857142857142857,
 0.2857142857142857,
 0.2857142857142857,
 0.25,
 0.09999999999999998,
 0.25,
 0.08333333333333337,
 0.25,
 0.375,
 0.25,
 0.125,
 0.6,
 0.2222222222222222,
 0.33333333333333337,
 0.0,
 0.125,
 0.0,
 0.25,
 0.0,
 0.25,
 0.1428571428571429,
 0.0,
 0.125,
 0.1428571428571429,
 0.1428571428571429,
 0.33333333333333337,
 0.0,
 0.33333333333333337,
 0.0,
 0.2857142857142857,
 0.125,
 0.0,
 0.125,
 0.0,
 0.1428571428571429,
 0.33333333333333337,
 0.0,
 0.0,
 0.11111111111111116,
 0.09090909090909094,
 0.0,
 0.11111111111111116,
 0.09090909090909094]

In [278]:
# Adding the column to recommendations db

list_of_recs["cos_sim_query"] = results

<ipython-input-278-6dd116e9d741>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_of_recs["cos_sim_query"] = results

In [324]:
list_of_recs["jac_sim_query"] = results_jaccard

<ipython-input-324-386461b3b8ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_of_recs["jac_sim_query"] = results_jaccard

### Check the first rows of recommendations with Jaccard and Cosine sim

In [325]:
# Cosine

final_recs = list_of_recs.sort_values(by=["cos_sim_query"], ascending=False)
final_recs.head()

,index,card_id,title,description,when,where,category,tags,img_name,cos_sim_query,jac_sim_query
350,566,566,Rain or Shine Holiday Market,This market is happening down south in Tacoma...,"3502 McKinley Ave Suite A, Tacoma, WA",December 4th,Things To Do,NaN,566_sea.jpg,0.702597,0.285714
348,564,564,Listen to carolers aboard the Christmas Ship,If you’ve lived in Seattle long enough chance...,Onboard/Onshore,November 26th-December 23rd,Things To Do,NaN,564_sea.jpg,0.618647,0.142857
384,602,602,Wheel-In Motor Movie,"If you’re looking for a smaller, more intimat...",,"210 Theatre Road, Port Townsend, WA",Things To Do,NaN,602_sea.jpg,0.566825,0.600000
61,263,263,Cafe Vita,"Need space, light, coffee, tables and some ot...",Daily 7 am-7 pm,1005 E Pike St,Food & Drink,NaN,263_sea.jpg,0.543141,0.428571
269,479,479,El Paisano Rosticeria Y Cocina,This spot is probably off your radar unless y...,"Monday-Friday 11 am-9 pm, Saturday 9 am-9 pm, ...",9615 15th Ave SW,Food & Drink,NaN,479_sea.jpg,0.518726,0.428571

In [326]:
# Jaccard

final_recs_jac = list_of_recs.sort_values(by=["jac_sim_query"], ascending=False)
final_recs_jac.head()

,index,card_id,title,description,when,where,category,tags,img_name,cos_sim_query,jac_sim_query
263,472,472,Bizzarro Italian Cafe,The name of this spot fits it perfectly and w...,Daily 5 pm-9 pm,1307 N 46th St,Food & Drink,NaN,472_sea.jpg,0.386998,0.6
384,602,602,Wheel-In Motor Movie,"If you’re looking for a smaller, more intimat...",,"210 Theatre Road, Port Townsend, WA",Things To Do,NaN,602_sea.jpg,0.566825,0.6
119,322,322,Dim Sum King,This spot is affordable and their classic off...,Thursday-Tuesday 7 am-5 pm,617 S Jackson St,Food & Drink,NaN,322_sea.jpg,0.357648,0.5
268,478,478,Mezcaleria Oaxaca,Capitol Hill’s best spot for Oaxacan eats als...,"Tuesday-Thursday 4 pm-10 pm, Friday-Saturday ...",422 E Pine St,Food & Drink,NaN,478_sea.jpg,0.325606,0.5
189,395,395,Maryhill Winery,Visiting Maryhill Winery is a great way to en...,"Sunday-Friday 11 am-6 pm, Saturday 11 am-8 pm","9774 Highway 14 Goldendale, WA",Food & Drink,NaN,395_sea.jpg,0.426917,0.5

## Feedback

I am trying both the models to see if it is better to match the query with the categories it belongs to by using the LDA model (Jaccard) or to use cosine similarity with the exact measure of the vectors which are statedby the probability of that query to be part of that catgory. Since these are categories "created: by the LDA algorithm. I can use jaccard if a decide that being part of the category created by the LDA algorithm is enough to display those cards; or in the other hand I can think that it is important the probability of "belonging" to that class and use cosine similarity. My thinking as of the model today is to better use jaccard because we don't have enough data to develop sufficient varaiance within the documents hence the clusters are very close to each other making the recommendations very naive. I am going to proceed by getting more data into the master database as well as more seattle content that way I believe thatt the categorization made by LDA is going to be prominent.

## Save Model

In [285]:
import pickle

In [286]:
data = {'model':lda_model, 'master_db':master_graph_bump_sea, 'sea_cards':seattle_bump_cards_db, 'index':index_best, 'dictionary':dictionary, 'seattle_cards_vectors':vectors_cards_sea}
with open('saved_steps.pk1', 'wb') as file:
    pickle.dump(data, file)

In [821]:
with open('saved_steps.pk1', 'rb') as file:
    data_pic = pickle.load(file)

## Check if the model works
This after pickling

In [307]:
seattle_bump_cards_db[seattle_bump_cards_db["card_id"] == 406]

,index,card_id,title,description,when,where,category,tags,img_name
200,406,406,Full Tilt Ice Cream,For some of the city’s best and most original...,Multiple Locations,Tuesday-Sunday 3 pm-8 pm,Food & Drink,NaN,406_sea.jpg